<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlink}}
</head>
<body>
     {{>nav}}


   <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          
          <div class="row">
           
            <div class="col-md-6 col-12 main_header_right align-items-center">
             


                <figure>
                  <img src="images/4.jpg" alt="" class="img-fluid">
                </figure>
  
  
  
  
  
  
              </div>
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to weather app</p>
              <h1>i am <span class="txt">software engineer</span> </h1>
              <a href=""><button>About me </button></a>
            </div>
           
             
           
           

          </div>
         

        </div>
    </div>
   </div>


   <footer>
    <p>created by TK'S</p>
   </footer>
</body>
</html>