<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlink}}
  <script src="js/main.js" defer></script>
</head>
<body>
   
   {{>nav}}

   <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          
          <div class="main_content">
            <form  class="myform">
             <input type="text" id="cityname" placeholder="Enter city name">
             <input type="submit"  id="submitbtn" value="search" > 
            </form>
          </div>
          <div class="tempinfo">
             <div class="top_layer">
                <p id="day"> Tuesday</p>
                <p id="date"> 13 oct</p>
             </div>
             <div class="main_layer">
                <p id="city_name">Get output here</p>
                <div class="middle_layer data_hide">
                     <p id="temp"> <span>0</span> <sup>o</sup> C</p>
                     <p id="temp_status"> <i class="fa-solid fa-cloud"></i> </p>
                </div>
             </div>
          </div>

        </div>
    </div>
   </div>


   <footer>
    <p>created by TK'S</p>
   </footer>
     <script >
        const day=document.getElementById('day')
        const date=document.getElementById('date')

        

var weekday = new Array(7);
weekday[0]="Sunday";
weekday[1]="Monday";
weekday[2]="Tuesday";
weekday[3]="Wednesday";
weekday[4]="Thursday";
weekday[5]="Friday";
weekday[6]="Saturday";
console.log("tejas")

const getCurrentday =  ()=>{
    let currenttime = new Date();
    
    return weekday[currenttime.getDay()]
}

const getCurrentTime = ()=>{


    var months= ["jan","Feb","Mar","april","may","june","july","Aug","sept","Oct","Nov","Dec"]
    

    let cur= new Date();
    var month = months[cur.getMonth()];
    var date=cur.getDate();

    let hour = cur.getHours();
    let min=cur.getMinutes();
    let period="AM";
    if(hour>=12)
    { 
        period="PM";
        if(hour>12){ hour-=12;}

    }
    if(min<10)
    {
        min='0'+min;
    }
    
    return `${month} ${date} | ${hour}:${min} ${period}`

}

    day.innerText=getCurrentday();
    date.innerText=getCurrentTime();
    </script>
</body>
</html>